<nav class="navbar navbar-expand-lg w-100">
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <img [src]="APP_IMAGES.LOGO" alt="1TO3GO" class="logo" />
    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
      [attr.aria-expanded]="!isMenuCollapsed"
      aria-controls="navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      [ngbCollapse]="isMenuCollapsed"
      id="navbarNav"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Home
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about-us"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            About us
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active"
            >Contact</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="petProductsDropdown"
            role="button"
            (mouseenter)="showDropdown()"
            (mouseleave)="hideDropdown()"
            [attr.aria-expanded]="!isDropdownCollapsed"
            aria-haspopup="true"
          >
            Products Categories
          </a>
          <ul
            class="dropdown-menu"
            [ngbCollapse]="isDropdownCollapsed"
            (mouseenter)="showDropdown()"
            (mouseleave)="hideDropdown()"
          >
            <li>
              <a class="dropdown-item" routerLink="/dog-collar">Dog Collar</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/pet-washing-gloves">Pet Washing Gloves</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/pet-hair-remover">Pet Hair Remover</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/pet-nursing-supplies">Pet Nursing Supplies</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
