<!-- <app-carousel [items]="carouselItems"></app-carousel> -->
<div class="home-container">
  <img
    [src]="APP_IMAGES.BANNER.MAIN_BANNER"
    alt="Main Banner"
    class="w-100 h-auto"
  />

  <div class="banner-horizontal w-100">
    <div class="banner-vertical w-50">
      <img [src]="APP_IMAGES.BANNER.BANNER_1" class="w-100 h-auto" />
      <img [src]="APP_IMAGES.BANNER.BANNER_2" class="w-100 h-auto" />
    </div>
    <img [src]="APP_IMAGES.BANNER.BANNER_3" class="w-50 h-auto" />
  </div>

  <img
    [src]="APP_IMAGES.BANNER.MAIN_BANNER_2"
    alt="Main Banner"
    class="w-100 h-auto"
  />
  <img
    [src]="APP_IMAGES.BANNER.MAIN_BANNER_3"
    alt="Main Banner"
    class="w-100 h-auto"
  />
  <img
    [src]="APP_IMAGES.BANNER.MAIN_BANNER_4"
    alt="Main Banner"
    class="w-100 h-auto"
  />
</div>
