<!-- <app-carousel [items]="carouselItems"></app-carousel> -->
<div class="home-container">
  <a href="https://www.amazon.com/dp/B0C2ZBSM12">
    <img
      [src]="APP_IMAGES.BANNER.MAIN_BANNER"
      alt="Main Banner"
      class="w-100 h-auto"
    />
  </a>

  <a
    class="banner-horizontal w-100"
    href="https://www.amazon.com/dp/B0C69RGV1W"
  >
    <div class="banner-vertical w-50">
      <img [src]="APP_IMAGES.BANNER.BANNER_1" class="w-100 h-auto" />
      <img [src]="APP_IMAGES.BANNER.BANNER_2" class="w-100 h-auto" />
    </div>
    <img [src]="APP_IMAGES.BANNER.BANNER_3" class="w-50 h-auto" />
  </a>

  <!-- <img
    [src]="APP_IMAGES.BANNER.MAIN_BANNER_2"
    alt="Main Banner"
    class="w-100 h-auto"
  /> -->
  <a href="https://www.amazon.com/dp/B0CM6WTJ21">
    <img
      [src]="APP_IMAGES.BANNER.MAIN_BANNER_3"
      alt="Main Banner"
      class="w-100 h-auto"
    />
  </a>
  <a href="https://www.amazon.com/dp/B0DJ9KVNL2">
    <img
      [src]="APP_IMAGES.BANNER.MAIN_BANNER_4"
      alt="Main Banner"
      class="w-100 h-auto"
    />
  </a>
</div>
