// @import 'variables';

// :root {
//     --primary-color: #{$primary-color};
//     --secondary-text: #{$secondary-text};
// }
@import "bootstrap/scss/bootstrap";

:root {
    --primary-color: #ffffff;
    --primary-text: #000;
    --secondaty-text: #007185;
    --gap: 16px;
}

body {
    margin: 0;
}
